<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider
            cache="true"
            class="org.xtext.example.statemachine.gmf.StatemachineConstraintProvider"
            mode="Batch">
         <package
               namespaceUri="http://xtext.org/example/Statemachine">
         </package>
      </constraintProvider>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.xtext.example.statemachine.gmf.ui.TextPropertiesViewPart"
            icon="icons/properties.gif"
            id="org.xtext.example.statemachine.textProperties"
            name="XProperties"
            restorable="true">
      </view>
   </extension>

</plugin>
